clean_scrape_gcp/
__pycache__/
*.pyc
service-account-key.json
minified-key.json
clip_code.py
*.log
*.json
local_function.py
mock_storage.py
firestore.rules
helper scripts/test_connections.py
helper scripts/get_log_files.py
ffmpeg-release-i686-static.tar.xz
helper scripts/audio_files_tdM7LZEgEUql6ELbtSJF.wav
helper scripts/convert_wav_to_m4a.py
