# pip install -r requirements.txt
# Web framework and server
Flask
gunicorn

# Google Cloud services
google-cloud-firestore
google-cloud-storage
google-cloud-pubsub
google-cloud-logging
vertexai

# Utilities
Werkzeug
python-dotenv
wave
google-auth
beautifulsoup4  # For HTML parsing
spacy==3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
requests-html  # For HTML requests and rendering
trafilatura  # For web scraping and text extraction
python-dateutil  # For parsing dates

# Networking and retries
urllib3
requests
